.wrapper{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.parkingIcon{
    font-size: 38px;
    font-weight: 800;
}

.mainText{
    font-size: 13px;
    font-weight: 600;
}

.leg{
    position:relative;
    width: 5px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    transform: translate(-36px, 50px);
}