.wrapper{
    width: 100%;
    /* border: 2px solid green; */
    display: grid;
    padding: 15px;
    animation: sectionLoad 0.25s 1 ease-in-out;
}

@keyframes sectionLoad{
    0%{
        opacity: 0%;
        transform: translateY(-10px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0%);
    }
}

.cardsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px; /* Adjust the gap between the grid items */
    /* width: 300px; Adjust the container width */
    height: 300px; /* Adjust the container height */
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 200;
}