.wrapper{
    width: 100%;
    height: 100px;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3px;
    padding: 10px 5px;
    animation: cardLoad 0.2s 1 ease-in-out;
}

@keyframes cardLoad{
    0%{
        opacity: 0%;
        transform: translateY(-10px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0%);
    }
}

.wrapper:not(:last-child){
    /* border-bottom: 1px solid #cccccc; */
}

.wrapper:nth-child(even){
    background: rgb(16,4,30);
    background: linear-gradient(30deg, rgba(195, 182, 210, 0.1) 0%, rgba(63, 2, 133, 0.1) 50%);
}

.photoHolder{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    /* border: 2px solid green; */
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.dates{
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 14px;
    font-weight: 200;
}

.name{
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 19px;
    font-weight: 600;
}

.miniInfoHolder{
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 5;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoCard{
    min-width: 20px;
}

.info{
    font-weight: 200;
    font-size: 14px;
}