.subWrapperRowType1{
    width: 100%;
    padding: 15px;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: sectionLoad 0.25s 1 ease-in-out;
    /* border-bottom: 1px solid #ffffff; */
}

@keyframes sectionLoad{
    0%{
        opacity: 0%;
        transform: translateY(-10px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0%);
    }
}

.infoHolderRowType1{
    /* border: 2px solid red; */
    width: calc(100vw - 140px);
}

.label{
    font-size: 11px;
    color: #666666;
    font-weight: 200;
}

.infoLevel1{
    font-size: 15px;
    margin-bottom: 5px;
}